body{
    background-image: url("background.png");
    margin: 0%;
    padding: 0%;

}

p{
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif; 
}

h1{
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    text-shadow: 3px 3px #999999;

}

div#banner{
    text-align: center; 
    background-image: url("bannerbg.png"); 
    height: 50px;
    background-position: 0%;
    background-repeat: repeat-x;   
}

div#box{
    overflow: hidden;
    border : 4px solid gray;
    border-radius: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    
}



article{
    width: 550px;
    background-image: url(rbg.png);
    height: 83px;
    color: red;
    font-weight: bold;
    font-size: 48pt;
    /* vertical-align: middle; */
}


section{
    font: 8pt;
    width: 550px;
    /* padding-left: 2%; */
}

#reviewbox1{
    float:left ;
    width: 47%;
    margin: 2%;
   
}

#reviewbox2{
    display: inline-block;
    width: 47%;
    margin-top: 2;;
    margin-right: 2%;
}


.review{
    font-weight : bold;
    background-color: #E8DC9B;
    border: 2px solid gray ;
    border-radius: 10px;
    /* width: 40%;  */
    margin: 2%;
    padding: 8px;

}


.review img{
    float: left;
    margin-right: 5px;
}

.reviewer{
    padding-left: 5px;
    margin-bottom: 20pt;
    
}

.reviewer img{
    float : left;
    margin-right: 5px;
    
}



aside{
    float: right;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    background-color: #A2B964;
    width: 250px; 
    
}

aside dl{
    margin : 10pt;
}

aside dd{
    padding-bottom: 10pt;
}
aside dt{
    font-weight: bold;
}



footer{
    margin: 5px;
    padding: 5px;
    background-color: #A2B964;
    text-align: center;
    border: 5px; 
}

#w3c{
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}